.loading-wrap::before{
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.loading {
  margin: auto;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 30px;
  text-align: center;
}



.loading > div {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: rgb(43,160,199);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: tb-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: tb-bouncedelay 1.4s infinite ease-in-out both;
  animation: tb-bouncedelay 1.4s infinite ease-in-out both;
}

.loading .tb-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading .tb-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes tb-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@-moz-keyframes tb-bouncedelay {
  0%, 80%, 100% { -moz-transform: scale(0) }
  40% { -moz-transform: scale(1.0) }
}

@keyframes tb-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      transform: scale(1.0);
    }
}
